.footer {
    background-color: rgb(14, 12, 12);
    margin-top: 140px;
    height: 120px;


    .footer__items {
        padding-top: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        li {
            font-weight: 300;
        }

        li:nth-child(3) {

            margin-left: 60px;
            margin-right: 60px;
        }
    }


    .footer__icon {
        justify-content: center;
        display: flex;
        flex-direction: row;
        margin-top: 25px;

        img {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
   
}